<!-- 
	* This is the page where users can see a summary of their subscriptions they added.



	*** What code are commented out:

	1. Commented out headlines and contact us links from navbar
	2. 
 -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include("partials/head") %>  

	<title>Subcrates | My Crate - View, Edit and Manage Your Subscriptions.</title>
</head>
<body>


	<!-- ALL JS VARIABLES AND DECLARATIONS [START] -->
	<% var random = (Math.floor(10000000 + Math.random() * 90000000)).toString() %>
	<% var date = new Date(); var time = date.getTime().toString(); %>
	<% var newid = random + time; %>
	<!-- ALL JS VARIABLES AND DECLARATIONS [END] -->


	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="../public/images/close.png" alt="#"></span>
			<div class="form">
				<form action="/search" method="POST" onsubmit>
					<input type="text" name="searchBar" placeholder="Search subscription" id="mob_search_field">					
				</form>
			</div>
		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="/homepage">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="/mycrate">My Crate</a>
		    </li>
		    <!-- <li class="nav-item">
		        <a class="nav-link" href="headlines.html">Headlines</a>
		    </li>-->
		    <li class="nav-item">
		        <a class="nav-link" href="/gifts">Gifts</a>
			</li> 
			<li class="nav-item">
				<a class="nav-link" href="/settings">Settings</a>
			</li>
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="/homepage"><img src="../public/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
						<form action="/search" method="POST" onsubmit>
							<input type="text" name="searchBar" id="search_field" placeholder="Search">
						</form>
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/homepage">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/mycrate">My Crate</a>
			      </li>
			      <!-- <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
			      </li>-->
			      <li class="nav-item">
			        <a class="nav-link" href="/gifts">Gifts</a>
				  </li> 
				  <li class="nav-item">
					<a class="nav-link" href="/settings">Settings</a>
				  </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="crate_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title">
						<div class="row">
							<div class="col-6">
								<div class="head">My Crate</div>
								<p style="font-size: 1.2rem;">Today’s Date: <span><script> document.write(new Date().toLocaleDateString()); </script></span></p>
							</div>
							<div class="col-6 text-right">
								<a href="/editsubscription/<%- newid %>" class="btn_blue">Custom Subscription</a>
							</div>
						</div>
					</div>
					<div class="expense_box">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="white_box">
									<div class="img_box"><img src="../public/images/calendar_1.png" alt="#"></div>
									<div class="head">Total Expenses</div>
									<p>Weekly</p>
									<% if(weeklyCost != undefined) { %>
										<div class="price">$<%- parseFloat(weeklyCost).toFixed(2) %></div>
									<% } %>									
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="white_box">
									<div class="img_box"><img src="../public/images/calendar_2.png" alt="#"></div>
									<div class="head">Total Expenses</div>
									<p>Monthly</p>
									<% if(monthlyCost != undefined) { %>
										<div class="price">$<%- parseFloat(monthlyCost).toFixed(2) %></div>
									<% } %>

								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="white_box">
									<div class="img_box"><img src="../public/images/calendar_3.png" alt="#"></div>
									<div class="head">Total Expenses</div>
									<p>Yearly</p>
									<% if(yearlyCost != undefined) { %>
										<div class="price">$<%- parseFloat(yearlyCost).toFixed(2) %></div>
									<% } %>	
								</div>
							</div>
						</div>
					</div>
					<div class="table_box">
						<div class="table_content">
							<div class="table_head">
								<div class="trow">
									<div class="th">Logo</div>
									<div class="th">Name</div>
									<div class="th">Plan</div>
									<div class="th">Price</div>
									<div class="th">Next Bill Date</div>
									<div class="th">Next Bill Date</div>
									<div class="th">Biling Freq.</div>
									<div class="th"></div>
									<div class="th"></div>
								</div>
							</div>
							<div class="table_body">

								<!--  -->
								<!-- CONTENT ROW FOR MY CRATE LIST -->
								<!--  -->

								<% if(subList != undefined) { %>
								<% for(let i = 0; i < subList.length; i++) { %>
								<div class="trow">
									<div class="td">
										<img src="<%- subList[i].data().logoLink %>" alt="Custom">
									</div>
									<div class="td"><b><%- subList[i].data().subName %></b></div>
									<div class="td"><%- subList[i].data().planName %></div>
									<% if(subList[i].data().price == undefined) { %>
                                        <div class="td"></div>
                                    <% } else { %>
										<div class="td">$<%- parseFloat(subList[i].data().price).toFixed(2) %></div>
									<% } %>

									<div class="td"><%- dateList[i] %></div>

									<% if(subList[i].data().subscriptionNotification == 7 || subList[i].data().subscriptionNotification == null) { %>
										<div class="td">Don't notify me.</div>
									<% } else if(subList[i].data().subscriptionNotification == 0) { %>
										<div class="td">Notify on billing date.</div>
									<% } else { %>
									<div class="td"><%- subList[i].data().subscriptionNotification %> day(s) before due.</div>
									<% } %>

									<% if(subList[i].data().subscriptionFrequency == '') { %>
										<div class="td">Please add billing frequency.</div>
									<% } else { %>
										<div class="td"><%- subList[i].data().subscriptionFrequency %></div>
									<% } %>

									<div class="td"><a href="/addsubscription/<%- subList[i].data().subID %>" ><img src="../public/images/edit.png" alt="#" class="edit"></a></div>
									<div class="td"><a href="/deletesubscription/<%- subList[i].data().subID %>"><img src="../public/images/delete.png" alt="#" class="trash"></a></div>
									<div class="blue_box"><span>Notes:</span> 
										<%- subList[i].data().subscriptionNotes %>
								</div>
								</div>
								<% } %>
								<% } %>
								
							</div>
						</div>
					</div>
					<div class="note"><span>Adding Subscriptions hint:</span> Use the search field to find subscriptions available in our collection. If you can’t find it, use the ‘+Custom Subscription’ button to add a custom subscription. </div>
					<div class="red_text">Disclaimer: Adding to your crate doesn't subscribe you to the service. Click the name and subscribe on the official website.</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions, gift subscriptions to friends and family and manage the subscriptions you own.</p>
					<!-- <ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul> -->
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<!-- <li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li> -->
								<li><a href="mailto:support@subcrates.com">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="mailto:suggestions@subscrates.com">Suggestions</a></li>
								<!-- <li><a href="#">Got Questions</a></li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Download the mobile app to get notifications for your subscriptions before you get billed.</p>					
					<div><a href="https://apps.apple.com/us/app/id1528694362"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="http://play.google.com/store/apps/details?id=com.sub.subcrates"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="/tos">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="/tos">Terms of Service</a></li>
						<li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<%- include("partials/foot") %>  

<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
	{"name": "Amazon"},
			{"name": "Adobe"},
			{"name": "Amazon Web Services"},
			{"name": "Asana"},
			{"name": "Basecamp"},
			{"name": "Google Cloud"},
			{"name": "Heroku"},
			{"name": "Jamf"},
			{"name": "Jira"},
			{"name": "LastPass"},
			{"name": "Microsoft Azure"},
			{"name": "Monday"},
			{"name": "One Month"},
			{"name": "QuickBooks"},
			{"name": "Shopify"},
			{"name": "Slack"},
			{"name": "Square"},
			{"name": "Squarespace"},
			{"name": "Stripe"},
			{"name": "Subcrates"},
			{"name": "Trello"},
			{"name": "Zoom"},
			{"name": "Apple TV+"},
			{"name": "Disney+"},
			{"name": "Hulu"},
			{"name": "Netflix"},
			{"name": "Prime Video"},
			{"name": "Amazon Music"},
			{"name": "Apple Music"},
			{"name": "Cruchyroll"},
			{"name": "GeForce Now"},
			{"name": "Google Play Music"},
			{"name": "Google Stadia"},
			{"name": "HBO MAX"},
			{"name": "HBO NOW"},
			{"name": "Pandora"},
			{"name": "Peacock"},
			{"name": "Playstation Now"},
			{"name": "SiriusXM Internet Radio"},
			{"name": "Spotify"},
			{"name": "Youtube Premium"},
			{"name": "Acorns"},
			{"name": "Betterment"},
			{"name": "Dave"},
			{"name": "Mint"},
			{"name": "Robinhood Gold"},
			{"name": "Stash"},
			{"name": "Wealthfront"},
			{"name": "YNAB"},
			{"name": "Allure Beauty Box"},
			{"name": "Bath Bevy"},
			{"name": "BeautyFIX"},
			{"name": "Birchbox"},
			{"name": "BoxyCharm"},
			{"name": "Dollar Shave Club"},
			{"name": "Dr. Squatch"},
			{"name": "Harry's"},
			{"name": "Ipsy Glam Bag"},
			{"name": "AT&T"},
			{"name": "Boost Mobile"},
			{"name": "CenturyLink"},
			{"name": "Cricket"},
			{"name": "Frontier"},
			{"name": "HeughesNet"},
			{"name": "Sprint"},
			{"name": "TMobile"},
			{"name": "US Cellular"},
			{"name": "Verizon"},
			{"name": "BarkBox"},
			{"name": "Bullymake Box"},
			{"name": "Cat Claws Club Box"},
			{"name": "CatLadyBox"},
			{"name": "KitNipBox"},
			{"name": "Pet Treater"},
			{"name": "PupBox"},
			{"name": "Bean Box"},
			{"name": "Blue Apron"},
			{"name": "Candy Club"},
			{"name": "HelloFresh"},
			{"name": "Home Chef"},
			{"name": "SaloonBox"},
			{"name": "Sips by"},
			{"name": "Ultimate SODA Samplers"},
			{"name": "Winc"},
			{"name": "Bespoke Post"},
			{"name": "Bloomin' Bin"},
			{"name": "CleanCut"},
			{"name": "GlobeIn Artisan Box"},
			{"name": "Grove"},
			{"name": "House Plant Box"},
			{"name": "Post Home Box"},
			{"name": "Second Nature"},
			{"name": "The Honest Company"},
			{"name": "Bitsbox"},
			{"name": "Bluum"},
			{"name": "FabKids"},
			{"name": "Green Kid Crafts"},
			{"name": "Groovy Lab"},
			{"name": "KidPik"},
			{"name": "KiwiCo"},
			{"name": "Ok Baby Box"},
			{"name": "Sensory Theraplay"},
			{"name": "Bloomberg BW"},
			{"name": "BOTM"},
			{"name": "Car and Driver"},
			{"name": "Esquire"},
			{"name": "Forbes"},
			{"name": "Fresh Fiction Box"},
			{"name": "Good Housekeeping"},
			{"name": "National Geographic"},
			{"name": "OwlCrate"},
			{"name": "People"},
			{"name": "Rolling Stone"},
			{"name": "Scribd"},
			{"name": "The Economist"},
			{"name": "The New Yorker"},
			{"name": "Time"},
			{"name": "Vogue"},
			{"name": "Cairn"},
			{"name": "Ellie"},
			{"name": "FabFitFun"},
			{"name": "Gainz Box"},
			{"name": "MindWander"},
			{"name": "Muscle Box"},
			{"name": "Persona"},
			{"name": "YogaClub"},
			{"name": "Dia & Co"},
			{"name": "Emma & Chloe"},
			{"name": "Gentleman's Box"},
			{"name": "Le Tote"},
			{"name": "Pura Vida"},
			{"name": "Rocksbox"},
			{"name": "SprezzaBox"},
			{"name": "Stitch Fix"},
			{"name": "Style Plan"},
			{"name": "Trunk Club"},
			{"name": "DoorDash DashPass"},
			{"name": "Grubhub+"},
			{"name": "InstaCart Express"},
			{"name": "Electricity"},
			{"name": "Gas"},
			{"name": "Water"},
			{"name": "ESPN+"},
			{"name": "FuboTV"},
			{"name": "MLB TV"},
			{"name": "NFL Game Pass"},
			{"name": "UFC Fight Pass"},
			{"name": "LootCrate"},
			{"name": "UBER Ride Pass"},
			{"name": "1Password"},
			{"name": "Apple Arcade"},
			{"name": "Apple News"},
			{"name": "Audible"},
			{"name": "Backblaze"},
			{"name": "CBS All Access"},
			{"name": "DAZN"},
			{"name": "Deezer"},
			{"name": "Digital Occean"},
			{"name": "Dribbble"},
			{"name": "Dropbox"},
			{"name": "EA Play"},
			{"name": "Evernote"},
			{"name": "Fastmail"},
			{"name": "Feedbin"},
			{"name": "Framer X"},
			{"name": "Github"},
			{"name": "Go Daddy"},
			{"name": "Google Domains"},
			{"name": "Google Drive"},
			{"name": "Headspace"},
			{"name": "Hover"},
			{"name": "Kindle Unlimited"},
			{"name": "LinkedIn"},
			{"name": "Medium"},
			{"name": "Nintendo Switch Online"},
			{"name": "One Drive"},
			{"name": "Overcast"},
			{"name": "Playstation Plus"},
			{"name": "Pocket"},
			{"name": "Sleep Cycle"},
			{"name": "Sling TV"},
			{"name": "Sound Cloud"},
			{"name": "Starz"},
			{"name": "Tidal"},
			{"name": "Tinder"},
			{"name": "Twitch"},
			{"name": "Vimeo"},
			{"name": "Vultr"},
			{"name": "Weebly"},
			{"name": "World of Warcraft"},
			{"name": "Xbox Live"},
			{"name": "Campaign Monitor"},
			{"name": "Zapier"},
			{"name": "Hotstar"},
			{"name": "Duolingo"},
			{"name": "Invision"},
			{"name": "Myfitnesspal"},
			{"name": "Philo"},
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
<script>
	// Add mixpanel mycrate tracker
	mixpanel.track("Mycrate");
</script>
</body>
</html>