<!-- 
	* This page displays the details of the subscription the user has clicked on. Cotains links, 
	* info, descriptions, banner, logo etc. 




	*** Things that are done/almost done but commented out:

	1. Navbar headlines and contact us links
	2. Change banner image for subscriptions
	3. Commented out stars above 'Reviews ()'
	4. Commented out 'View More' to view "more comments".
	5. ****** POST FOR ADDINNG SUBSCRIPTION && ADDING REVIEWS.
 -->





<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include("partials/head") %>  
	<title>Subcrates | <%- subscription.data().subscriptionName %> - Subscription details and pricing</title>
</head>
<body>

<!-- ALL JS VARIABLES AND DECLARATIONS [START] -->
<% let plans = subscription.data().plans %>
<% let prices = subscription.data().prices %>

<!-- ALL JS VARIABLES AND DECLARATIONS [END] -->


<!-- Mobile Nav -->
	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="../public/images/close.png" alt="#"></span>
			<div class="form">
				<form action="/search" method="POST" onsubmit>
					<input type="text" name="searchBar" placeholder="Search subscription" id="mob_search_field">					
				</form>
			</div>

		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="/homepage">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="/mycrate">My Crate</a>
		    </li>
		    <!-- <li class="nav-item">
		        <a class="nav-link" href="#">Headlines</a>
		    </li>-->
		    <li class="nav-item">
		        <a class="nav-link" href="/gifts">Gifts</a>
			</li> 
			<li class="nav-item">
				<a class="nav-link" href="/settings">Settings</a>
			</li>
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="/homepage"><img src="../public/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

				<!-- Navbar links -->
				<!-- Web Nav -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
								<form action="/search" method="POST" onsubmit>
										<input type="text" name="searchBar" id="search_field" placeholder="Search subscription">
								</form>
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/homepage">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/mycrate">My Crate</a>
			      </li>
			      <!-- <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
			      </li>-->
			      <li class="nav-item">
			        <a class="nav-link" href="/gifts">Gifts</a>
				  </li> 
				  <li class="nav-item">
					<a class="nav-link" href="/settings">Settings</a>
				  </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="subscripe_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<img src="<%- subscription.data().banner %>" alt="#">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					<div class="subscrib_title">
						<div class="row">
							<div class="col-12 col-sm-8">
								<div class="name_box">
									<div class="img_box"><img src="<%- subscription.data().image %>" alt="#"></div>
									<span><%- subscription.data().category %></span>
									<div class="text"><a href="<%- subscription.data().homeLink %>" style="color: black; text-decoration: underline;"><%- subscription.data().subscriptionName %></a></div>
								</div>
							</div>
							<div class="col-12 col-sm-4 text-right">
								<a href="/addsubscription/<%-subscription.id%>"><button class="btn_blue">Add to My Crate</button></a>
							</div>
						</div>
						<div class="red_text text-right">Disclaimer: Adding to your crate doesn't subscribe you to the service. Click the name and subscribe on the official website.</div>
					</div>
					<div class="heading">Subscription Info</div>
					<p><%- subscription.data().longDesc %></p>
					<% if(subscription.data().shippingEstimate != '') { %>
						<div class="heading">Shipping Estimation</div>
						<p><%- subscription.data().shippingEstimate %></p>
					<% } %>
					<div class="heading">Pricing</div>
					<div class="row">
						<div class="col-12">
							<div class="responsive">

								<!-- Declare plans & prices array to variables and use them for plans & pricing -->

								<% if( typeof plans !== 'undefined' && typeof prices !== 'undefined') { %>
									<% for(let i = 0; i < plans.length; i++) { %>

								<div>
									<div class="white_box white_box2">
										<div class="price">
											
												<% if(prices[i] == 0.01) { %>
													Variable Prices
													<!-- <br><span><Variable Prices</span> -->
													
												<% } else if(prices[i] == 0.00) { %>
													Free
													<!-- <br><span>Free</span> -->
												<% } else { %>
													$<%- prices[i] %>
												<% } %>
											<br><span><%- plans[i] %></span>
										</div>
										<a href="<%- subscription.data().plansLink %>" class="btn_blue">
											View on <%- subscription.data().subscriptionName %>
										</a>
									</div>
								</div>
								<% } %>
								<% } %>

							</div>
						</div>
					</div>
					<div class="heading">User Reviews</div>
					<div class="rating_box">
						<div class="row">
								<% if(subscription.data().ratingCount < 10 ) { %>
									<p>
											
									</p>
								<% } else { %>

							<div class="col-6 col-sm-3">
								<div class="text_bg"><span style="font-size: 3.5rem;"><%- parseFloat(subscription.data().rating) %></span> <span style="font-size: 1.5rem;">out of 5.0</span></div>
								<!-- <ul class="list-inline rating">
									<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
								</ul> -->
								<div class="grey_text"><%- subscription.data().ratingCount %> ratings</div>
							</div>
							<% } %>

							<% if(subscription.data().ratingCount < 10 ) { %>
								<p>
										Not enough reviews to display ratings summary.
								</p>
							<% } else { %>
							<div class="col-6 col-sm-5 border-right">
								<div class="comparison">
									<div class="rating_comp">
										<div class="comp_box">5 <i class="fa fa-star"></i></div>
										<progress class="progress-bar__data" max="100"
											value="<%- subscription.data().fiveStarCount * 100 %>">
										</progress>
									</div>
									<div class="rating_comp">
										<div class="comp_box">4 <i class="fa fa-star"></i></div>
										<progress class="progress-bar__data" max="100"
											value="<%- subscription.data().fourStarCount * 100 %>"></progress>
									</div>
									<div class="rating_comp">
										<div class="comp_box">3 <i class="fa fa-star"></i></div>
										<progress class="progress-bar__data" max="100"
                      value="<%- subscription.data().threeStarCount * 100 %>"></progress>
									</div>
									<div class="rating_comp">
										<div class="comp_box">2 <i class="fa fa-star"></i></div>
										<progress class="progress-bar__data" max="100"
                      value="<%- subscription.data().twoStarCount * 100 %>"></progress>
									</div>
									<div class="rating_comp">
										<div class="comp_box">1 <i class="fa fa-star"></i></div>
										<progress class="progress-bar__data" max="100"
                      value="<%- subscription.data().oneStarCount * 100 %>"></progress>
									</div>
								</div>
							</div>
							<% } %>

							<div class="col-12 col-sm-4">
								<div class="grey_rate">
									<div class="text">Rate the subscription</div>
									<!-- <ul class="list-inline rating">
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
										<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
									</ul> -->

									<% if(hasPosted == false) { %>
										<button class="btn_white" data-toggle="modal" data-target="#myModal1">Write Reviews</button>
									<% } else if(hasPosted == true) { %>
										<button class="btn_white" data-toggle="modal" data-target="#myModal1">Modify Your Review</button>										
									<% } %>

								</div>
							</div>
							<div class="col-12">
								<div class="heading heading_sm">Reviews (<%- subscription.data().ratingCount %>)</div>

								<!-- Display all reviews -->
								<% for(let i = 0; i < reviewsList.length; i++) { %>
								<div class="review_box">
									<div class="name_text" style="color: #4669c8;">Rated: <%- reviewsList[i].data().ratingGiven %>.0 out of 5.0</div>
									<div class="name_text"><%- reviewsList[i].data().username %></div>
									<div class="date_text"><%- Date.parse(new Date(reviewsList[i].data().datePosted * 1000).toISOString()).toString('M/d/yyyy') %></div>
									<p><%- reviewsList[i].data().review %></p>
								</div>
								<% } %>

								<!-- <div class="text-center">
									<a href="#" class="btn_blue mt-5">View More</a>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions, gift subscriptions to friends and family and manage the subscriptions you own. </p>
					<!-- <ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul> -->
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<!-- <li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li> -->
								<li><a href="mailto:support@subcrates.com">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="mailto:suggestions@subscrates.com">Suggestions</a></li>
								<!-- <li><a href="#">Got Questions</a></li> -->
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Download the mobile app to get notifications for your subscriptions before you get billed.</p>
					<div><a href="https://apps.apple.com/us/app/id1528694362"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="http://play.google.com/store/apps/details?id=com.sub.subcrates"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="/tos">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="/tos">Terms of Service</a></li>
						<li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<div class="modal" id="myModal1">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header" style="border-bottom: 0;">
	        <button type="button" class="close" data-dismiss="modal"><img src="../public/images/close.png" alt="#"></button>
	      </div>
	      <!-- Modal body -->
	      <div class="modal-body pt-0">
	        <div class="scription">
				
						<!-- WRITE A REVIEW POPUP POST BLOCK -->
				<form action="/subscription/<%-subscription.id%>" method="POST" onsubmit">
					<div class="heading mt-0">Write Your Review</div>
					<div class="form-group">
						<input type="text" name="username" value="<%- myUsername %>" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" name="givenStarRating" value="" placeholder="Rate: 1 - 5" required>
					</div>
					<!-- <div class="form-group">
						<ul class="list-inline rating">
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div> -->
					<div class="form-group">
						<textarea name="reviewGiven" placeholder="Review" class="mt-0" required><%- myReview %></textarea>
					</div>

					<div class="form-group">
							<input name="subName" type="text" value="<%- subscription.data().subscriptionName %>" hidden>
						</div>

					<div class="form-group text-center">
						<button class="btn_blue mt-0" type="submit" name="addbutton">Add Review</button>
					</div>
				</form>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>


	<%- include("partials/foot") %>  

<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
	{"name": "Amazon"},
			{"name": "Adobe"},
			{"name": "Amazon Web Services"},
			{"name": "Asana"},
			{"name": "Basecamp"},
			{"name": "Google Cloud"},
			{"name": "Heroku"},
			{"name": "Jamf"},
			{"name": "Jira"},
			{"name": "LastPass"},
			{"name": "Microsoft Azure"},
			{"name": "Monday"},
			{"name": "One Month"},
			{"name": "QuickBooks"},
			{"name": "Shopify"},
			{"name": "Slack"},
			{"name": "Square"},
			{"name": "Squarespace"},
			{"name": "Stripe"},
			{"name": "Subcrates"},
			{"name": "Trello"},
			{"name": "Zoom"},
			{"name": "Apple TV+"},
			{"name": "Disney+"},
			{"name": "Hulu"},
			{"name": "Netflix"},
			{"name": "Prime Video"},
			{"name": "Amazon Music"},
			{"name": "Apple Music"},
			{"name": "Cruchyroll"},
			{"name": "GeForce Now"},
			{"name": "Google Play Music"},
			{"name": "Google Stadia"},
			{"name": "HBO MAX"},
			{"name": "HBO NOW"},
			{"name": "Pandora"},
			{"name": "Peacock"},
			{"name": "Playstation Now"},
			{"name": "SiriusXM Internet Radio"},
			{"name": "Spotify"},
			{"name": "Youtube Premium"},
			{"name": "Acorns"},
			{"name": "Betterment"},
			{"name": "Dave"},
			{"name": "Mint"},
			{"name": "Robinhood Gold"},
			{"name": "Stash"},
			{"name": "Wealthfront"},
			{"name": "YNAB"},
			{"name": "Allure Beauty Box"},
			{"name": "Bath Bevy"},
			{"name": "BeautyFIX"},
			{"name": "Birchbox"},
			{"name": "BoxyCharm"},
			{"name": "Dollar Shave Club"},
			{"name": "Dr. Squatch"},
			{"name": "Harry's"},
			{"name": "Ipsy Glam Bag"},
			{"name": "AT&T"},
			{"name": "Boost Mobile"},
			{"name": "CenturyLink"},
			{"name": "Cricket"},
			{"name": "Frontier"},
			{"name": "HeughesNet"},
			{"name": "Sprint"},
			{"name": "TMobile"},
			{"name": "US Cellular"},
			{"name": "Verizon"},
			{"name": "BarkBox"},
			{"name": "Bullymake Box"},
			{"name": "Cat Claws Club Box"},
			{"name": "CatLadyBox"},
			{"name": "KitNipBox"},
			{"name": "Pet Treater"},
			{"name": "PupBox"},
			{"name": "Bean Box"},
			{"name": "Blue Apron"},
			{"name": "Candy Club"},
			{"name": "HelloFresh"},
			{"name": "Home Chef"},
			{"name": "SaloonBox"},
			{"name": "Sips by"},
			{"name": "Ultimate SODA Samplers"},
			{"name": "Winc"},
			{"name": "Bespoke Post"},
			{"name": "Bloomin' Bin"},
			{"name": "CleanCut"},
			{"name": "GlobeIn Artisan Box"},
			{"name": "Grove"},
			{"name": "House Plant Box"},
			{"name": "Post Home Box"},
			{"name": "Second Nature"},
			{"name": "The Honest Company"},
			{"name": "Bitsbox"},
			{"name": "Bluum"},
			{"name": "FabKids"},
			{"name": "Green Kid Crafts"},
			{"name": "Groovy Lab"},
			{"name": "KidPik"},
			{"name": "KiwiCo"},
			{"name": "Ok Baby Box"},
			{"name": "Sensory Theraplay"},
			{"name": "Bloomberg BW"},
			{"name": "BOTM"},
			{"name": "Car and Driver"},
			{"name": "Esquire"},
			{"name": "Forbes"},
			{"name": "Fresh Fiction Box"},
			{"name": "Good Housekeeping"},
			{"name": "National Geographic"},
			{"name": "OwlCrate"},
			{"name": "People"},
			{"name": "Rolling Stone"},
			{"name": "Scribd"},
			{"name": "The Economist"},
			{"name": "The New Yorker"},
			{"name": "Time"},
			{"name": "Vogue"},
			{"name": "Cairn"},
			{"name": "Ellie"},
			{"name": "FabFitFun"},
			{"name": "Gainz Box"},
			{"name": "MindWander"},
			{"name": "Muscle Box"},
			{"name": "Persona"},
			{"name": "YogaClub"},
			{"name": "Dia & Co"},
			{"name": "Emma & Chloe"},
			{"name": "Gentleman's Box"},
			{"name": "Le Tote"},
			{"name": "Pura Vida"},
			{"name": "Rocksbox"},
			{"name": "SprezzaBox"},
			{"name": "Stitch Fix"},
			{"name": "Style Plan"},
			{"name": "Trunk Club"},
			{"name": "DoorDash DashPass"},
			{"name": "Grubhub+"},
			{"name": "InstaCart Express"},
			{"name": "Electricity"},
			{"name": "Gas"},
			{"name": "Water"},
			{"name": "ESPN+"},
			{"name": "FuboTV"},
			{"name": "MLB TV"},
			{"name": "NFL Game Pass"},
			{"name": "UFC Fight Pass"},
			{"name": "LootCrate"},
			{"name": "UBER Ride Pass"},
			{"name": "1Password"},
			{"name": "Apple Arcade"},
			{"name": "Apple News"},
			{"name": "Audible"},
			{"name": "Backblaze"},
			{"name": "CBS All Access"},
			{"name": "DAZN"},
			{"name": "Deezer"},
			{"name": "Digital Occean"},
			{"name": "Dribbble"},
			{"name": "Dropbox"},
			{"name": "EA Play"},
			{"name": "Evernote"},
			{"name": "Fastmail"},
			{"name": "Feedbin"},
			{"name": "Framer X"},
			{"name": "Github"},
			{"name": "Go Daddy"},
			{"name": "Google Domains"},
			{"name": "Google Drive"},
			{"name": "Headspace"},
			{"name": "Hover"},
			{"name": "Kindle Unlimited"},
			{"name": "LinkedIn"},
			{"name": "Medium"},
			{"name": "Nintendo Switch Online"},
			{"name": "One Drive"},
			{"name": "Overcast"},
			{"name": "Playstation Plus"},
			{"name": "Pocket"},
			{"name": "Sleep Cycle"},
			{"name": "Sling TV"},
			{"name": "Sound Cloud"},
			{"name": "Starz"},
			{"name": "Tidal"},
			{"name": "Tinder"},
			{"name": "Twitch"},
			{"name": "Vimeo"},
			{"name": "Vultr"},
			{"name": "Weebly"},
			{"name": "World of Warcraft"},
			{"name": "Xbox Live"},
			{"name": "Campaign Monitor"},
			{"name": "Zapier"},
			{"name": "Hotstar"},
			{"name": "Duolingo"},
			{"name": "Invision"},
			{"name": "Myfitnesspal"},
			{"name": "Philo"},
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
<script type="text/javascript">
	$('.responsive').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 3,
	  slidesToScroll: 6,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
</body>
</html>