<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP CSS -->
    <%- include("./partials/header") %>
    <link rel="stylesheet" a href="../public/css/subscriptionDetails.css" />
    <link rel="stylesheet" a href="../public/css/loginNavbar.css" />
    <link rel="stylesheet" a href="../public/css/footer.css" />


    <title><%- subscription.data().subscriptionName %> - Subscription details and pricing</title>
</head>

<body>
    <%- include("partials/loginNavbar") %>

    <!-- ALL JS VARIABLES AND DECLARATIONS [START] -->
    <% let plans = subscription.data().plans %>
    <% let prices = subscription.data().prices %>
    <!-- ALL JS VARIABLES AND DECLARATIONS [END] -->


    <div class="container">
        <div class="card">
            <div class="subDetail-Background">
                <img style="width: 100%; height: 100%; object-fit: contain; background-color: black;"
                    src="<%- subscription.data().image %>" alt="" class="logo">
            </div>
            <div class="info">
                <div class="row">
                    <div class="column-left">
                        <div class="subscription-name">
                            <div>
                                <h1 class="big">
                                    <a
                                        href="<%- subscription.data().homeLink %>"><%- subscription.data().subscriptionName %></a>
                                </h1>
                                <!-- <span class="newly added to Subcrates">new</span> -->
                            </div>
                            <h3 class="small"><%- subscription.data().category %></h3>
                        </div>
                    </div>
                    <div class="column-right">
                        <!-- ADD THIS TO YOUR SUBSCRIPTION LIST -->
                        <div class="row-1" style="float: right">
                            <div class="buy-price">
                                <a href="/addsubscription/<%-subscription.id%>" class="buy">Add to My Crate</a>
                            </div>
                        </div>
                        <div class="row-1" style="float: right">
                            <p style="margin-left: 5px; color: #e74c3c;">
                                Disclaimer: Adding to your crate doesn't subscribe you to the service.
                                Click the name and subscribe on the official website.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="description">
                    <h3 class="title">Subscription Info</h3>
                    <p class="text"><%- subscription.data().longDesc %></p>
                </div>

                <!-- THE PRICING CONTAINER CONTAINING PRICES FOR EACH PLAN OFFERED -->
                <div class="price-container">
                    <h3 class="title">Pricing</h3>

                    <div class="product-pricing-row">
                        <!-- Declare plans & prices array to variables and use them for plans & pricing -->
                        <% if( typeof plans !== 'undefined') { %>
                        <% for(let i = 0; i < plans.length; i++) { %>
                        <div class="product-pricing-container">
                            <div class="card" style="width: 12rem; text-align: center;">
                                <div class="card-body">
                                    <h5 class="card-title"><%- plans[i] %></h5>
                                    <% if(prices[i] == 0.01) { %>
                                    <p class="card-text" style="font-size: 1rem; text-align: center;">Variable Prices
                                    </p>
                                    <% } else if(prices[i] == 0.00) { %>
                                    <p class="card-text" style="font-size: 1rem; text-align: center;">Free</p>
                                    <% } else { %>
                                    <p class="card-text" style="font-size: 1rem; text-align: center;">$<%- prices[i] %>
                                    </p>
                                    <% } %>
                                    <a href="<%- subscription.data().plansLink %>" class="btn btn-primary">View on
                                        <%- subscription.data().subscriptionName %></a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
                <!-- Ratings and Reviews Code -->
                <div class="rating-summary">
                    <div class="reviews">
                        <h4 class="reviews__heading">User reviews</h4>

                        <% if(subscription.data().ratingCount > 10 ) { %>
                        <p>
                            Not enough reviews to display ratings summary.
                        </p>
                        <% } else { %>
                        <div class="reviews__average-ratings">
                            <div class="average-ratings__stars">
                                <span class="stars__average-rating-score">
                                    <%- subscription.data().rating %> out of 5
                                </span>
                            </div>
                            <div class="average-ratings__total-customers">
                                <%- subscription.data().ratingCount %> user ratings
                            </div>
                        </div>

                        <div class="reviews__breakdown">
                            <div class="reviews-breakdown__wrapper">
                                <div class="reviews__single-star-average">
                                    <div class="single-star-average__amount">5 star</div>
                                    <div class="single-star-average__progress-bar">
                                        <progress class="progress-bar__data" max="100"
                                            value="<%- subscription.data().fiveStarCount * 100 %>"></progress>
                                    </div>
                                    <div class="single-star-average__percentage">
                                        <%- subscription.data().fiveStarCount * 100 %>%</div>
                                </div>

                                <div class="reviews__single-star-average">
                                    <div class="single-star-average__amount">4 star</div>
                                    <div class="single-star-average__progress-bar">
                                        <progress class="progress-bar__data" max="100"
                                            value="<%- subscription.data().fourStarCount * 100 %>"></progress>
                                    </div>
                                    <div class="single-star-average__percentage">
                                        <%- subscription.data().fourStarCount * 100 %>%</div>
                                </div>

                                <div class="reviews__single-star-average">
                                    <div class="single-star-average__amount">3 star</div>
                                    <div class="single-star-average__progress-bar">
                                        <progress class="progress-bar__data" max="100"
                                            value="<%- subscription.data().threeStarCount * 100 %>"></progress>
                                    </div>
                                    <div class="single-star-average__percentage">
                                        <%- subscription.data().threeStarCount * 100 %>%</div>
                                </div>

                                <div class="reviews__single-star-average">
                                    <div class="single-star-average__amount">2 star</div>
                                    <div class="single-star-average__progress-bar">
                                        <progress class="progress-bar__data" max="100"
                                            value="<%- subscription.data().twoStarCount * 100 %>"></progress>
                                    </div>
                                    <div class="single-star-average__percentage">
                                        <%- subscription.data().twoStarCount * 100 %>%</div>
                                </div>

                                <div class="reviews__single-star-average">
                                    <div class="single-star-average__amount">1 star</div>
                                    <div class="single-star-average__progress-bar">
                                        <progress class="progress-bar__data" max="100"
                                            value="<%- subscription.data().oneStarCount * 100 %>"></progress>
                                    </div>
                                    <div class="single-star-average__percentage">
                                        <%- subscription.data().oneStarCount * 100 %>%</div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <!-- Write your review block -->
                <h4 class="reviews__heading">Write your review</h4>
                <form id="add-reviewForm" action="/subscription/<%-subscription.id%>" method="POST" onsubmit>
                    <div class="input-fields">
                        <!-- Username -->
                        <div class="row">
                            <input type="text" name="username" id="username" class="inputs" placeholder="Username" required>

                            <!-- Give ratings out of 5 -->
                            <label for="givenStarRating" class="styleDropdown">Rate this subscription out of 5 stars </label>
                            <select name="givenStarRating" id="givenStarRating" class="styleDropdown">
                                <option value="unselected" selected>Unselected</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    
                        <!-- Title Name -->
                        <input type="text" name="title" id="title" class="inputs" placeholder="Title" value="" required>

                        <!-- Review Given -->
                        <textarea name="reviewGiven" id="reviewGiven" rows="3" cols="3" placeholder="Write your review..."></textarea>

                        <!-- Submit button -->
                        <button class="addbutton" type="submit" name="addbutton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        // Add mixpanel signup tracker & create user
        mixpanel.track("SubscriptionDetailPage");
    </script>
    <%- include("partials/scripts") %>
</body>

</html>